.users {
    background-color: #fff;
    &_row {
        display: flex;
        flex-direction: column;
    }
}
.user {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    transition: all 0.2s linear;
    &_img {
        img {
            transition: all 0.2s linear;
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 8px rgb(0, 183, 255);
            }
        }
    }
    &_info {
        flex: 1 1 100%;
        margin: 0 12px;
    }
    &_status {
    }
    &_name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
}
.follow_btn {
    width: 130px;
    transition: all 0.2s linear;
    @media (max-width: 1000px) {
        width: 100px;
    }
    @media (max-width: 767px) {
        width: 90px;
        font-size: 14px;
    }
    &.unfollow {
        background-color: red;
    }
}
.pagination {
    display: flex;
    margin: 0px 0 20px 0;
    flex-wrap: wrap;
    &_page {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s linear;
        &:hover {
            background-color: rgb(225, 247, 255);
        }
    }
}
.selected_page {
    color: rgb(0, 183, 255);
    border-bottom: 4px solid rgb(0, 183, 255);
}
